# Milestone 2 - Cleaning a Flat File - Rachel Wantuch

What changes we made to the data?
The first change made to the data was making the second row the header. The initial data had the first 6 header slots as Nan and then 82 occurances of 'Missed Games'. None of that was helpful so I basically told it to ignore that column.

The second change was adding two columns to the dataframe. I did this for future data manipulations to have some place to live.

The third transformation using rows labeled "1" to "82" to fill in the new "Games Missed' Column.

The 4th transformation was eliminating rows where NaN showed up in the Cap Hit and/or Chip columns. This was just a personal preference.

The 5th transformation is still in progress. I want to convert the Cap Hit and Chip column to read as numbers. Currently they are sitting as strings with $ signs and m for million and k for thousands. I need to finish writing a function to conver those rows.

The 6th transformation was seperating the players first and last names and getting rid of the old player column after that.

Are there any legal or regulatory guidelines for your data or project topic?
There are no guidelines that I am currently aware of.

What risks could be created based on the transformations done?
By leaving the first name as its own entity I can see the possibility for someone filtering based on say the name 'John' and getting data for 8 different players and not knowing it.

Did you make any assumptions in cleaning/transforming the data?
I will be making an assumption in cleaning the Chip data once I write the function. For instnace there are a few rows where the author has 1,256K. I'm assuming it doesn't mean to add three more 0's and its actualy just saying 1,256. I think anything below $10000 was written that way.

How was your data sourced/verified for credibility?
The author of the original data provided links to where he pulled that data from.

Was your data acquired in an ethical way?
Yes. I used Tableau's download feature to obtain the flat file.

How would you mitigate any of the ethical implications you have identified?
I don't see any ethical implications in this data, but a good way to validate it is to provide sourcfes whenever possible. Another option is to also provide metadata for the users to know what each column means and how it was figured.

In [310]:
import pandas as pd
import numpy as np
df=pd.read_csv("C:/Users/rwant/OneDrive/Desktop/Bellevue/DSC 540/Final/NHL Injury Database.csv", skiprows=[0])
df.head()

,Season,Team,Position,Player,Injury Type,Cap Hit,Chip,1,2,3,...,73,74,75,76,77,78,79,80,81,82
0,2000/01,Anaheim,F,"Kariya, Paul",Foot,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000/01,Anaheim,F,"Leclerc, Mike",Abdominal,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000/01,Anaheim,F,"Leclerc, Mike",Knee,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000/01,Anaheim,F,"McDonald, Andy",Concussion,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000/01,Anaheim,F,"McInnis, Marty",Groin,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Filtering it down to season's 2023/24

In [313]:
#Finding the first occurance of the 2014/15 by index location
values = "2023/24"
row_index=df[df['Season']==values].index
print(row_index)

Index([20984, 20985, 20986, 20987, 20988, 20989, 20990, 20991, 20992, 20993,
       ...
       21869, 21870, 21871, 21872, 21873, 21874, 21875, 21876, 21877, 21878],
      dtype='int64', length=895)

In [315]:
df=df.iloc[20984:21878].reset_index(drop=True)

In [317]:
df.columns

Index(['Season', 'Team', 'Position', 'Player', 'Injury Type', 'Cap Hit',
       'Chip', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36',
       '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48',
       '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60',
       '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72',
       '73', '74', '75', '76', '77', '78', '79', '80', '81', '82'],
      dtype='object')

## Transformation 2: Inserting New Columns (Games Missed)

It appears that the original author of this dataset had a unique set up for how many players missed games. If they missed 6 games he put the number 6 in the Games Missed 6 column. This seems redundant so I want to merge all those columns into one singular column.

In [321]:
df['Games Missed']= np.nan

## Tranformation 3: Summing Columns labeled "1" to "82" and adding that to Games Missed column

In [324]:
df['Games Missed']=df.iloc[:,7:89].apply(lambda row:'-'.join(row.dropna().astype(str)),axis=1)

In [325]:
df1=df.drop(df.iloc[:,7:89],axis=1)

## Transformation 4: Eliminating rows where NaN appears in Cap Hit and Chip.

I am going to eliminate all rows without salary data for players. For the purpose of this project that should be ok. I just want to deal with rows with all the data.

In [330]:
df=df1.dropna(subset=['Cap Hit', 'Chip'])

## Transformation 4.1 Change Player Name to First Name Last Name to match other data sources I used.

In [333]:
column=df1.pop("Player")
df1.insert(1,"Player",column)

In [335]:
df1[['Last Name', 'First Name']]=df1['Player'].str.split(',',expand=True)

In [337]:
df1=df1.drop('Player',axis=1)

In [339]:
column=df1.pop("First Name")
df1.insert(1,"First Name",column)
column=df1.pop("Last Name")
df1.insert(2,"Last Name",column)

df1['PlayerName']=df1['First Name'] + ' ' + df1['Last Name']

In [341]:
df1=df1.drop('First Name', axis=1)
df1=df1.drop('Last Name', axis=1)
column=df1.pop("PlayerName")
df1.insert(1,"PlayerName",column)

## Transformation 5: Remove Season COlumn

In [344]:
df1=df1.drop('Season', axis=1)

## Convert Chip column to dollars

In [347]:
def convert_chip(x):
    x1=x.replace('k','000')
    return x1

In [349]:
df1['Chip_con']=df1['Chip'].apply(convert_chip)
df1.head()

,PlayerName,Team,Position,Injury Type,Cap Hit,Chip,Games Missed,Chip_con
0,Leo Carlsson,Anaheim,F,Concussion,$4.200m,$410k,8.0,$410000
1,Leo Carlsson,Anaheim,F,Knee,$4.200m,$512k,10.0,$512000
2,Leo Carlsson,Anaheim,F,Lower body,$4.200m,$102k,2.0,$102000
3,Adam Henrique,Anaheim,F,Illness,$5.825m,$71k,1.0,$71000
4,Ross Johnston,Anaheim,F,Illness,$1.100m,$13k,1.0,$13000

In [351]:
df1=df1.drop('Chip', axis=1)
column=df1.pop("Chip_con")
df1.insert(5,"Chip_con",column)
pd.set_option('display.max_rows',None)

In [353]:
df1['Chip_con']=df1['Chip_con'].str.replace(',','')
df1['Chip_con']=df1['Chip_con'].str.replace('$','')
df1['Chip_con']=df1['Chip_con'].astype(int)

## Condense Columns so each row is for one player with all injuries listed in one segment an

In [356]:
df1['Games Missed']=df1['Games Missed'].astype(float)
df1.head()

,PlayerName,Team,Position,Injury Type,Cap Hit,Chip_con,Games Missed
0,Leo Carlsson,Anaheim,F,Concussion,$4.200m,410000,8.0
1,Leo Carlsson,Anaheim,F,Knee,$4.200m,512000,10.0
2,Leo Carlsson,Anaheim,F,Lower body,$4.200m,102000,2.0
3,Adam Henrique,Anaheim,F,Illness,$5.825m,71000,1.0
4,Ross Johnston,Anaheim,F,Illness,$1.100m,13000,1.0

In [358]:
import locale
locale.setlocale(locale.LC_ALL,'en_US.UTF-8')
def currency(x):
    return locale.currency(x,grouping=True)

In [360]:
df1=df1.groupby('PlayerName', as_index=False).agg({'Chip_con':'sum','Games Missed':'sum'})
df1.head()

       PlayerName  Chip_con  Games Missed
0      A.J. Greer    167000          18.0
1    Aaron Ekblad   2743000          31.0
2    Adam Boqvist   1014000          32.0
3   Adam Fantilli   1670000          33.0
4        Adam Fox   1159000          10.0

In [362]:
df1['Chip']=df1['Chip_con'].apply(currency)
df1=df1.drop('Chip_con', axis=1)

df1=df1.rename(columns={'Games Missed':'Games_Missed'})
df1['PlayerName']=df1['PlayerName'].str.strip()

In [364]:
print(df1)

                   PlayerName  Games_Missed            Chip
0                  A.J. Greer          18.0     $167,000.00
1                Aaron Ekblad          31.0   $2,743,000.00
2                Adam Boqvist          32.0   $1,014,000.00
3               Adam Fantilli          33.0   $1,670,000.00
4                    Adam Fox          10.0   $1,159,000.00
5               Adam Henrique           1.0      $71,000.00
6                 Adam Pelech          24.0   $1,682,000.00
7                  Adam Raška           3.0      $33,000.00
8                Adam Ružička           4.0      $37,000.00
9                   Adin Hill          29.0   $1,314,000.00
10               Adrian Kempe           5.0     $335,000.00
11              Alec Martinez          21.0   $1,344,000.00
12          Aleksander Barkov           9.0   $1,098,000.00
13             Alex Goligoski          15.0     $366,000.00
14               Alex Killorn          19.0   $1,448,000.00
15                  Alex Lyon           5.0      $55,000.00
16           Alex Nedeljkovic          10.0     $183,000.00
17               Alex Newhook          27.0     $955,000.00
18           Alex Pietrangelo          18.0   $1,932,000.00
19                  Alex Tuch           7.0     $406,000.00
20              Alex Turcotte          13.0     $387,000.00
21                Alex Vlasic           6.0     $109,000.00
22        Alexander Barabanov          32.0     $975,000.00
23         Alexander Nylander           3.0      $28,000.00
24         Alexander Ovechkin           3.0     $348,000.00
25          Alexander Romanov           1.0      $30,000.00
26          Alexandre Carrier           8.0     $243,000.00
27           Alexandre Texier           4.0      $37,000.00
28            Aliaksei Protas           3.0      $33,000.00
29         Andreas Athanasiou          53.0   $2,747,000.00
30            Andrei Kuzmenko           4.0     $268,000.00
31          Andrei Svechnikov          22.0   $1,418,000.00
32         Andrei Vasilevskiy          20.0   $2,317,000.00
33            Andrew Cogliano           7.0      $70,000.00
34                Andrew Copp           3.0     $206,000.00
35          Andrew Mangiapane           6.0     $425,000.00
36           André Burakovsky          33.0   $2,213,000.00
37           Angus Crookshank           8.0      $82,000.00
38        Anthony Beauvillier          18.0     $911,000.00
39            Anthony Cirelli           2.0     $152,000.00
40            Anthony Duclair           4.0     $147,000.00
41             Anthony Mantha           5.0     $279,000.00
42            Anthony Stolarz           1.0      $13,000.00
43             Anton Forsberg          12.0     $403,000.00
44              Anton Lundell           4.0      $87,000.00
45               Antti Raanta          11.0     $201,000.00
46               Anže Kopitar           1.0     $122,000.00
47               Arber Xhekaj          14.0     $142,000.00
48                  Artem Zub          13.0     $729,000.00
49             Arthur Kaliyev           1.0      $13,000.00
50           Artturi Lehkonen          35.0   $1,921,000.00
51             Austin Czarnik           4.0      $37,000.00
52              Austin Watson           4.0      $38,000.00
53            Auston Matthews           1.0     $142,000.00
54            Barclay Goodrow           1.0      $44,000.00
55             Barrett Hayton          49.0   $1,061,000.00
56                Ben Chiarot           5.0     $290,000.00
57                 Ben Hutton          15.0     $155,000.00
58              Blake Coleman           4.0     $239,000.00
59              Blake Lizotte          20.0     $409,000.00
60              Blake Wheeler          28.0     $376,000.00
61                  Bo Horvat           1.0     $104,000.00
62               Bobby McMann           3.0      $28,000.00
63             Bokondji Imama           1.0       $9,000.00
64               Boone Jenner          15.0     $686,000.00
65                Bowen Byram           8.0     $376,000.00
66              Brady Tkachuk           1.0     $100,000.00
67               Brandon Biro           4.0      $37,000.00
68              Brandon Carlo           6.0     $300,000.00
69            Brandon Montour          16.0     $683,000.00
70              Brandon Tanev          16.0     $683,000.00
71              Brayden Point           1.0     $116,000.00
72              Brendan Smith          10.0     $134,000.00
73             Brenden Dillon           1.0      $48,000.00
74             Brent Seabrook          82.0   $6,875,000.00
75               Brett Howden           8.0     $185,000.00
76               Brett Leason           2.0      $19,000.00
77                Brett Pesce          11.0     $540,000.00
78               Brock Boeser           1.0      $81,000.00
79               Brock McGinn          46.0   $1,543,000.00
80               Bryan Little          82.0   $5,292,000.00
81                 Bryan Rust          20.0   $1,251,000.00
82                 Cale Makar           5.0     $549,000.00
83              Calen Addison           3.0      $30,000.00
84             Calle Järnkrok          30.0     $768,000.00
85                 Cam Fowler           1.0      $79,000.00
86                Carey Price          82.0  $10,500,000.00
87            Carl Grundström          32.0     $507,000.00
88               Carson Meyer           3.0      $28,000.00
89               Carson Soucy          42.0   $1,665,000.00
90                Carter Hart           7.0     $292,000.00
91           Carter Verhaeghe           6.0     $305,000.00
92              Casey Cizikas          12.0     $365,000.00
93              Chad Ruhwedel          11.0     $107,000.00
94        Chandler Stephenson           6.0     $201,000.00
95           Charlie Lindgren          12.0     $160,000.00
96             Charlie McAvoy           4.0     $463,000.00
97                Chris Tanev           3.0     $165,000.00
98               Chris Wagner           1.0       $9,000.00
99              Chris Wideman          82.0     $762,000.00
100          Christian Dvorak          52.0   $2,822,000.00
101         Christian Fischer           3.0      $41,000.00
102            Clayton Keller           4.0     $349,000.00
103                 Cody Ceci           1.0      $40,000.00
104                Cody Glass          17.0     $518,000.00
105              Cole Guttman           3.0      $35,000.00
106            Cole Sillinger           5.0     $100,000.00
107                Cole Smith           1.0       $9,000.00
108           Colin Blackwell          35.0     $512,000.00
109              Colin Miller          11.0     $249,000.00
110               Colin White           4.0      $38,000.00
111             Connor Bedard          14.0     $760,000.00
112              Connor Brown           6.0     $293,000.00
113              Connor Dewar           6.0      $59,000.00
114             Connor Ingram           4.0      $95,000.00
115            Connor McDavid           5.0     $762,000.00
116          Connor McMichael           2.0      $21,000.00
117             Connor Murphy          36.0   $1,932,000.00
118               Connor Zary           9.0     $110,000.00
119              Conor Sheary          18.0     $439,000.00
120             Conor Timmins          33.0     $443,000.00
121               Craig Smith           3.0      $36,000.00
122              Curtis Lazar          10.0     $110,000.00
123             Dakota Joshua          18.0     $181,000.00
124            Damon Severson          16.0   $1,220,000.00
125                Dan Vladař          17.0     $456,000.00
126          Daniil Miromanov          51.0     $474,000.00
127            Daniil Tarasov          35.0     $449,000.00
128              Dante Fabbro           7.0     $213,000.00
129             Darcy Kuemper           4.0     $256,000.00
130          David Gustafsson          18.0     $170,000.00
131               David Kämpf           3.0      $88,000.00
132              David Savard          22.0     $939,000.00
133            Dennis Gilbert           7.0      $65,000.00
134             Derek Forbort          43.0   $1,575,000.00
135                Devon Levi           5.0      $96,000.00
136               Dillon Dubé           1.0      $28,000.00
137           Dmitri Voronkov           1.0      $11,000.00
138            Dmitry Kulikov           1.0      $12,000.00
139           Dominik Kubalík           6.0     $183,000.00
140           Dougie Hamilton          62.0   $6,805,000.00
141             Drew O'Connor           3.0      $34,000.00
142              Dylan Cozens           3.0     $260,000.00
143            Dylan Holloway          22.0     $387,000.00
144              Dylan Larkin          12.0   $1,273,000.00
145               Egor Zamula           2.0       $9,000.00
146            Elias Lindholm           7.0     $414,000.00
147          Elvis Merzļikins          14.0     $857,000.00
148             Emil Bemström           1.0      $11,000.00
149               Eric Comrie           9.0     $198,000.00
150           Erik Brännström           5.0     $122,000.00
151           Erik Gudbranson           3.0     $146,000.00
152           Erik Gustafsson           4.0      $40,000.00
153                Erik Haula           5.0     $153,000.00
154              Erik Johnson          10.0     $397,000.00
155               Erik Černák          12.0     $760,000.00
156            Evan Rodrigues           2.0      $73,000.00
157              Evander Kane           4.0     $251,000.00
158           Evgenii Dadonov          29.0     $796,000.00
159          Evgeny Kuznetsov           3.0     $285,000.00
160           Felix Sandström           6.0      $57,000.00
161              Filip Chytil          72.0   $3,896,000.00
162          Filip Gustavsson           7.0     $320,000.00
163              Filip Zadina          10.0     $134,000.00
164         Frederik Andersen          51.0   $2,115,000.00
165         Frederik Olofsson           1.0       $9,000.00
166        Frédérick Gaudreau          12.0     $307,000.00
167         Gabriel Landeskog          82.0   $7,000,000.00
168           Gabriel Vilardi          35.0   $1,468,000.00
169              Givani Smith          22.0     $215,000.00
170           Gustav Forsling           2.0      $65,000.00
171           Hampus Lindholm           9.0     $713,000.00
172              Haydn Fleury          26.0     $242,000.00
173           Henri Jokiharju           2.0      $61,000.00
174               Henry Thrun           6.0      $75,000.00
175           Hudson Fasching          11.0     $104,000.00
176           Igor Shesterkin           4.0     $276,000.00
177           Ilya Lyubushkin           6.0     $126,000.00
178             Ilya Mikheyev           4.0     $232,000.00
179             Ilya Samsonov           4.0     $174,000.00
180           Isac Lundeström          36.0     $790,000.00
181                J.J. Moser           2.0      $23,000.00
182              J.T. Compher           5.0     $311,000.00
183                Jack Drury           8.0      $90,000.00
184               Jack Eichel          19.0   $2,317,000.00
185               Jack Hughes          20.0   $1,951,000.00
186              Jack Johnson           1.0       $9,000.00
187               Jack McBain          15.0     $293,000.00
188                Jack Quinn          55.0   $1,150,000.00
189             Jack Roslovic          21.0   $1,024,000.00
190           Jacob MacDonald          33.0     $306,000.00
191           Jacob Markström          17.0   $1,244,000.00
192           Jacob Middleton           2.0      $60,000.00
193              Jacob Trouba          11.0   $1,073,000.00
194            Jaden Schwartz          20.0   $1,341,000.00
195                 Jake Bean           6.0     $171,000.00
196              Jake DeBrusk           1.0      $49,000.00
197             Jake Guentzel          13.0     $915,000.00
198               Jake McCabe           7.0     $170,000.00
199               Jake Muzzin          82.0   $5,625,000.00
200           Jake Neighbours           5.0      $53,000.00
201            Jake Oettinger          12.0     $585,000.00
202            Jake Sanderson           3.0      $68,000.00
203               Jake Walman          11.0     $373,000.00
204           Jakob Pelletier          44.0     $463,000.00
205               Jakub Lauko           8.0      $77,000.00
206             Jakub Voráček          82.0   $8,250,000.00
207           Jalen Chatfield           5.0      $46,000.00
208        James van Riemsdyk           4.0      $36,000.00
209            Jamie Drysdale          47.0   $1,318,000.00
210                 Jan Rutta          13.0     $437,000.00
211             Jani Hakanpää          18.0     $329,000.00
212            Jansen Harkins          22.0     $228,000.00
213              Jared McCann           2.0      $61,000.00
214            Jared Spurgeon          66.0   $6,097,000.00
215            Jarred Tinordi          18.0     $274,000.00
216              Jason Zucker           7.0     $452,000.00
217            Jayden Struble           4.0      $45,000.00
218               Jeff Carter           7.0     $266,000.00
219                Jeff Petry           4.0     $115,000.00
220              Jeff Skinner           8.0     $878,000.00
221            Jeremy Swayman           1.0      $42,000.00
222               Jesper Fast           9.0     $264,000.00
223               Jiří Patera           4.0      $38,000.00
224                Joe Veleno           2.0      $20,000.00
225            Joel Edmundson          24.0     $416,000.00
226          Joel Eriksson Ek           5.0     $320,000.00
227               Joel Hanley           8.0      $77,000.00
228            Joel Kiviranta           3.0      $28,000.00
229             Joey Anderson          10.0      $98,000.00
230              John Beecher           1.0      $11,000.00
231               John Gibson           6.0     $390,000.00
232            John Klingberg          68.0   $3,442,000.00
233               John Ludvig          26.0     $246,000.00
234               John Marino           7.0     $161,000.00
235              John Tavares           2.0     $268,000.00
236           Johnny Gaudreau           1.0     $119,000.00
237           Jonah Gadjovich          28.0     $276,000.00
238              Jonas Brodin          20.0   $1,463,000.00
239           Jonas Johansson           9.0      $85,000.00
240        Jonas Siegenthaler          25.0   $1,036,000.00
241           Jonathan Drouin           1.0      $10,000.00
242        Jonathan Huberdeau           1.0     $128,000.00
243            Jonathan Quick           1.0      $11,000.00
244          Joonas Korpisalo           4.0     $196,000.00
245             Jordan Eberle           4.0     $268,000.00
246           Jordan Greenway          12.0     $439,000.00
247             Jordan Harris          20.0     $341,000.00
248              Jordan Staal           1.0      $35,000.00
249               Joseph Woll          35.0     $327,000.00
250             Josh Anderson           4.0     $268,000.00
251                Josh Brown           1.0      $16,000.00
252               Josh Mahura           8.0      $90,000.00
253               Josh Manson           5.0     $275,000.00
254               Josh Norris          32.0   $3,103,000.00
255                Joshua Roy          14.0     $151,000.00
256           Julien Gauthier           1.0      $10,000.00
257            Justin Brazeau           7.0      $66,000.00
258           Justin Danforth          11.0     $131,000.00
259              Justin Faulk          22.0   $1,743,000.00
260               Justin Holl           1.0      $41,000.00
261            Justin Schultz           5.0     $183,000.00
262            Juuso Välimäki           6.0      $73,000.00
263             Jérémy Lauzon           3.0      $73,000.00
264               Kaapo Kakko          21.0     $538,000.00
265            Kaapo Kähkönen           2.0      $68,000.00
266            Kaedan Korczak          11.0     $121,000.00
267              Kaiden Guhle          11.0     $173,000.00
268           Kasperi Kapanen           7.0     $273,000.00
269            Keegan Kolesar           3.0      $51,000.00
270              Kent Johnson          24.0     $541,000.00
271              Kevin Labanc           4.0     $230,000.00
272            Kevin Lankinen           3.0      $73,000.00
273            Kevin Stenlund           1.0      $12,000.00
274           Kiefer Sherwood           2.0      $19,000.00
275                Kirby Dach          80.0   $3,280,000.00
276           Kirill Kaprizov           7.0     $768,000.00
277          Kirill Marchenko           1.0      $19,000.00
278               Klim Kostin          18.0     $439,000.00
279          Kurtis MacDermid           4.0      $48,000.00
280            Kyle Burroughs           2.0      $27,000.00
281               Kyle Connor          16.0   $1,394,000.00
282               Kyle Okposo           3.0     $110,000.00
283             Lawson Crouse           1.0      $52,000.00
284              Leo Carlsson          20.0   $1,024,000.00
285              Liam O'Brien           5.0      $47,000.00
286             Linus Ullmark           3.0     $183,000.00
287               Logan Brown          82.0     $775,000.00
288             Logan Couture          76.0   $7,414,000.00
289            Logan O'Connor          25.0     $320,000.00
290            Logan Thompson           4.0      $28,000.00
291             Louis Crevier           2.0      $23,000.00
292           Luke Glendening           1.0      $10,000.00
293                Luke Kunin           5.0     $168,000.00
294               Luke Schenn          18.0     $604,000.00
295              Lukáš Rousek           3.0      $28,000.00
296       MacKenzie Entwistle           2.0      $20,000.00
297       Mackenzie Blackwood          15.0     $429,000.00
298                Marc Staal          12.0     $161,000.00
299         Marc-André Fleury           4.0     $171,000.00
300       Marc-Édouard Vlasic           4.0     $341,000.00
301            Marcus Foligno          27.0   $1,021,000.00
302          Marcus Johansson           4.0      $98,000.00
303             Mario Ferraro           4.0     $159,000.00
304             Mark Giordano          25.0     $244,000.00
305             Mark Kastelic          16.0     $163,000.00
306            Mark Scheifele           7.0     $523,000.00
307                Mark Stone          26.0   $3,012,000.00
308        Markus Niemeläinen           1.0       $9,000.00
309          Martin Fehérváry          16.0     $522,000.00
310              Martin Jones           2.0      $21,000.00
311              Martin Nečas           5.0     $183,000.00
312           Martin Pospíšil           4.0      $38,000.00
313           Mason Marchment           1.0      $55,000.00
314            Mason McTavish          18.0     $662,000.00
315             Mathew Barzal           1.0     $112,000.00
316            Mathieu Joseph          10.0     $360,000.00
317           Mathieu Olivier           1.0      $13,000.00
318           Mats Zuccarello           9.0     $659,000.00
319              Matt Benning          68.0   $1,036,000.00
320                Matt Boldy           7.0     $598,000.00
321              Matt Duchene           2.0      $74,000.00
322                Matt Dumba           4.0     $191,000.00
323             Matt Grzelcyk          16.0     $720,000.00
324               Matt Martin          18.0     $329,000.00
325               Matt Murray          82.0   $4,688,000.00
326                Matt Nieto          60.0     $659,000.00
327          Matthew Highmore          20.0     $189,000.00
328             Matthew Knies           2.0      $23,000.00
329           Matthew Poitras          38.0     $440,000.00
330            Matthew Savoie          13.0     $304,000.00
331           Matthew Tkachuk           2.0     $232,000.00

In [366]:
df1.to_csv("player_injuries.csv", index=False)